@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
:root{
    --color-white:#cce1e2;
    --color-white1:#5fced6;
    --color-whitte2:#001a1b;
    --color-white3:#468d92;
    --color-dark4:#011011;
    --color-dark5:rgb(1, 24, 24);
    --color-dark6:#001a1b;

}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-white);
    color: var(--color-dark4);
}
.img_logo_header{
    width: 45px;

}
.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: var(--color-white1);
    justify-content: space-between;
    padding: 0 10%;
    height: 3.5em;
    box-shadow: 1px 1px 4px var(--color-dark4);
}
.navigation_header{
    gap: 3em;
    z-index: 2;
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
}
.navigation_header a{
    text-decoration: none;
    color: var(--color-white3);
    transition: 1s;
    font-weight: bold;
}
.navigation_header a:hover{
    color: var(--color-dark4);
}
.active{
    background: var(--color-);
    padding: 10px;
    border-radius: 10px;
}
.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

#nomeTabela{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

tr {
  background-color: #f2f2f2;
  font-weight: bold;
}


@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: var(--color-white3);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    .btn_icon_header{
        display: block;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}