<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="app/view/pageCompleta/css/telaCadastroUsuario.css">
    <title>Tela de Cadastro</title>
</head>
<body>
    <div class="container">
        <div class="form-image">
            <img src="app/view/pageCompleta/img/App installation-rafiki.svg">
        </div>
        <div class="form">
            <form action="index.php?pag=cadastroUsuario&act=adicionar" method="POST">
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastrar</h1>
                    </div>
                    <div class="login-button">
                        <button><a href="#">Confirmar</a></button>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="firstname">Nome</label>
                        <input id="firstname"  type="text" name="firstname" placeholder="Digite o primeiro nome" required>
                    </div>

                    <div class="input-box">
                        <label for="tel">Telefone</label>
                        <input id="tel"  type="tel" name="tel" placeholder="(xx) xxxx-xxxx" required>
                    </div>

                    <div class="input-box">
                        <label for="senha">Senha</label>
                        <input id="senha"  type="password" name="senha" placeholder="....." required>
                    </div>

                    <div class="input-box">
                        <label for="cpfcnpj">CPF ou CNPJ</label>
                        <input id="cpfcnpj"  type="number" name="cpfcnpj" placeholder="Somente os números" required>
                    </div>
                </div>

                <div class="nivel-inputs">
                    <div class="nivel-title">
                        <h6>Nível</h6>
                    </div>

                    <div class="nivel-group">
                        <div class="nivel-input">
                            <input type="radio" id="altonivel" name="altonivel">
                            <label for="altonivel">Alto Nível</label>
                        </div>

                        <div class="nivel-group">
                            <div class="nivel-input">
                                <input type="radio" id="medionivel" name="medionivel">
                                <label for="medionivel">Médio Nível</label>
                            </div>

                        <div class="nivel-group">
                                <div class="nivel-input">
                                    <input type="radio" id="baixonivel" name="baixonivel">
                                    <label for="baixonivel">Baixo Nível</label>
                                </div>     
                    </div>
                 </div>
            </form>
        </div>
    </div>
</body>
</html>