<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/telaProduto.css">
    <title>Tela de Cadastro</title>
</head>
<body>
    <div class="container">
        <div class="form-image">
            <img src="img/Barcode-bro.svg">
        </div>
        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastro de Produto</h1>
                    </div>
                    <div class="login-button">
                        <button><a href="#">Confirmar</a></button>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="Product">Nome</label>
                        <input id="Product"  type="text" name="Product" placeholder="Nome do Produto" required>
                    </div>

                    <div class="input-box">
                        <label for="number">ID</label>
                        <input id="number"  type="number" name="number" placeholder="XXXXXXXXXX" required>
                    </div>

                    <div class="input-box">
                        <label for="Valor">Valor</label>
                        <input id="Valor" type="number" name="Valor" placeholder="X.XXX,XX" required>
                    </div>

                    <div class="input-box">
                        <label for="Data">Data de Validade</label>
                        <input id="Data" type="number" name="Data" placeholder="XX/XX/XXXX" required>
                    </div>

                   
                </div>

                  
                    </div>
                 </div>
            </form>
        </div>
    </div>
</body>
</html>